.article-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &.reverse{
    flex-direction: row-reverse;
  }
  &__article{
    width: 300px;
    padding: 10px;
    background: #ffe03d;
    margin: 10px;
    color: #19305a;
  }
}